.todoItem__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: .5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: .5rem;
}

.todoItem__done {
    text-decoration: line-through;
}

.todoItem__inputTodo {
    margin-right: 1rem;
}

.todoItem__serialТumber {
    font-weight: bold ;
    margin-right: 1rem;
}

.todoItem__deleteTodo {
    background: red;
    border-radius: 50%;
    color: white;
    border: none;
    margin-left: 1rem;
}

.todoItem__todoTitle {
    flex-grow: 3;
}

